* {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

header {
	width: 100vw;
	height: 90vh;
	background-image: url(background.jpg);
	background-size: cover;
}

p{
	margin: 0;
}

#nav {
	height: 15vh;
	width: 100vw;
	display: flex;
	align-items: center;
}

#nav button{
	text-transform: uppercase;
	padding: 3vh;
	width: calc(12vh + 6vw);
	font-size: calc(1.1vh + 0.55vw);
	border-style: none;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
}

#nav button:hover{
	background-color: #FFD34E;;
}

#nav #left {

}

#about {
	height: 75vh;
	width: 100vw;
}

#about .text-block p{
	padding-top: 10vh;
}

#projects {
	width: 100vw;
	height: 10vh;
	background-color: #bada55;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .button {
	height: inherit;
	width: 25vw;
	border-style: none;
	color: #fff;
	font-size: calc(1.25vh + 0.675vw);
	text-align: center;
	text-decoration: none;
	line-height: 10vh;
}

.text-block {
	margin: 0 auto;
	width: 50vw;
	height: inherit;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: calc(2vw + 4vh);
}

.yellow {
	color: #FFD34E;
}

.red-bg {
    background-color: #BD4932 !important;
}

.red-bg:hover {
    background-color: white;
}

.blue-bg {
    background-color: #105B63 !important;
}

.blue-bg:hover {
    background-color: white;
}

.yellow-bg {
    background-color: #FFD34E !important;
}

.yellow-bg:hover {
    background-color: white;
}

.green-bg {
    background-color: #468966 !important;
}

.green-bg:hover {
    color: white;
}

.white-bg {
    background-color: #ffffff;
    color: black;
}

.white-bg:hover {
    color: white;
}