<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700" rel="stylesheet">
        <title>Aran Long</title>
    </head>
    <body>
        <header>
            <div id="nav">
                <div id="left">
                    <button class="white-bg">Aran Long</button>
                </div>
                <div id="right">
                </div>
            </div>
            <section id="about">
                <div class="text-block">
                    <p>I build innovative <span class="yellow">projects</span>, <span class="yellow">travel</span> the world and sometimes maintain a programming <span class="yellow">blog.</span></p>
                </div>
            </section>
        </header>
        <main>
            <section id="projects">
                <a class="button red-bg" href="https://github.com/aranscope">Github</a>
                <a class="button yellow-bg" href="https://linkedin.com/in/aranlong">LinkedIn</a>
                <a class="button blue-bg" href="http://devpost.com/AranScope">Devpost</a>
                <a class="button green-bg" href="https://docs.google.com/document/d/1ZMmwDQswgRFb90cIeuq3onxwE2MZnIJxQE7FJOOfsrc/edit?usp=sharing">Resume</a>
            </section>
            <section id="blog">
                {{{posts}}}
            </section>
        </main>
        <footer>
        </footer>   
    </body>


</html>