<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700" rel="stylesheet">
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <div id="nav">
                <div id="left">
                    <button class="white-bg">Aran Long</button>
                </div>
                <div id="right">
                </div>
            </div>
            <section id="about">
                <div class="text-block">
                    <p>{{title}}</p>
                </div>
            </section>
        </header>
        <main>
            <section id="blog">
                {{{posts}}}
            </section>
        </main>
        <footer>
        </footer>   
    </body>


</html>