<!doctype html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="post-style.css">
    <link href="prism.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700" rel="stylesheet">
</head>

<body>
    <section class="container" id="examples">
        <h1>{{title}}</h1>
        <div class="body">
            {{{body}}}
        </div>
        <a href="{{post_author_url}}">Written by @{{post_author_name}}</a> {{{tags}}}
        <a class="button" href="/">Back to home</a>
    </section>
<script src="prism.js"></script>
</body>

</html>
