a, a:visited, p{
    font-family: 'Merriweather', sans-serif;
    padding: 0; margin: 0;
    text-decoration: none;
    color: #3A4145;
    letter-spacing: 0.1px;
    font-size: 1.1em;
    font-weight: normal;
    text-rendering: geometricPrecision;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', serif;
    padding: 0;
    color: #3A4145;
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
}

@media(min-width: 750px) {
    .container {
        width: 55vw;
	padding-top: 10vh;
    }
}

.button {
    font-family: 'Lato', serif;
    font-size: 1.1em;
    padding: 1.5vh 1.5vw 1.5vh 1.5vw;
    margin: 0 0.3vw 0 0.3vw;
    color: white;
}

.body {
    margin-bottom: 10vh;
}

li {
    line-height: 31.5px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.1em;
}

p {
    padding: 4vh 0 0 0;
    line-height: 31.5px;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}
